@font-face {
  font-family: "berkeley";
  src: url("../../public/fonts/berkeley/BerkeleyMono-Regular.woff") format("woff2");
  src: url("../../public/fonts/berkeley/BerkeleyMono-Regular.woff2") format("woff");
}

.material-icons {
  font-family: material-icons;
}
